/* 个人中心 1 */
.acontainer{
	height: 90%;
	background: url('images/bak.jpg') 100% 100%;
	background-size: cover;
}
.footer{height: 10%; position: relative;}
.container .account{
	height: 100%;
}
.account.a{
	width: 100%;
	position: absolute;
}
.account .info{
	height: 30%;
}
.account .jiugongge{
	height: 70%;
}
.info .top{
	height: 70%;
}
.info .bottom{
	height: 30%;
}
.info .top .photo{
	margin: 0 auto;
	height: 70%;
	display: block;
}
.info .top img:before {
  content: " ";
}

.info .top p{
	margin: 0 auto;
	height: 15%;
	font-size: 13px;
}
.jiugongge{
	background-color: #fff;
	opacity: 0.8;
}
.jiugongge .row{
	height: 33%;
}
.jiugongge .row div:nth-child(1),
.jiugongge .row div:nth-child(2){
	border-right: 1px solid #333;
}
.jiugongge .row:nth-child(1) div,
.jiugongge .row:nth-child(2) div{
	border-bottom: 1px solid #333;
}
.row div{
	height: 100%;
	display: table;
}
.row p{
	display: table-cell;
    vertical-align: middle;
}

    